<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="C:/java/selenium/hub_file_log.txt"/>
    <param name="MaxFileSize" value="10240KB"/>
    <param name="MaxBackupIndex" value="10"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss} %-5p - %m%n"/>
    </layout>
  </appender>
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyyMMdd hh:mm:ss} %-5p %M(%C{1}:%L) - %m%n"/>
    </layout>
  </appender>
  <root>
    <priority value="info"/>
    <appender-ref ref="file"/>
    <appender-ref ref="stdout"/>
  </root>
</log4j:configuration>
